h1 {
	color: Green;
}

body {
	position: relative;
}

.nav-link {
	color: Green;
}

.svfooter {
	color: white;
	background-color: green;
}

.link_white {
	color: white;
	text-decoration: none;
}